<h1><%= @project.title%></h1>
<hr>
<br/>
	<div >
		<%= @project.description %> <br/>
		<%= @project.picture_url %> <br/>
		<%= @project.funding_goal %> <br/>
		<%= @project.end_date %> <br/>
	</div>










	<%= link_to 'Edit Project', edit_project_url(@project.id) %>
	<%= link_to 'Delete Project', project_url(@project.id), method: :delete, notice: "Project Deleted!" %>