<div >
	<h1><%= @project.title%></h1><br/>
	<img src="<%=@project.picture_url%>"/> <br/> <br/>
	<%= @project.description %> <br/>
	<%= @project.funding_goal %> <br/>
	<%= @project.end_date %> <br/>
</div>










	<%= link_to 'Edit Project', edit_project_url(@project.id) %>
	<%= link_to 'Delete Project', project_url(@project.id), method: :delete, notice: "Project Deleted!" %>